.message-user {
    /* Styles pour les messages de l'utilisateur actuel */
    /* Par exemple, aligner à gauche */
    text-align: left;
    margin-left: 20px;

  }
  
  .message-other {
    /* Styles pour les messages des autres utilisateurs */
    /* Par exemple, aligner à droite */
    text-align: right;
    margin-right: 20px;
  }
  
  

  


   

  

@media screen and (max-width:1800px) {
    /* Augmentez la marge de gauche et réduisez la marge de droite pour décaler vers la droite */

    .chat-wrapper{
      position: fixed; /* Fixe l'élément à la position spécifiée */
      bottom: 0; /* Le positionne en bas de la page */
      right: 0; /* Le positionne sur le côté droit de la page */
      margin-bottom: 7px; /* Ajoute un espace de 20px depuis le bas de la page */
      margin-right: 90px; /* Ajoute un espace de 20px depuis le côté droit de la page */
      z-index: 9999;
    }
  
  .chat-window{
        height: 69%;
        width: 30%;
        overflow-y: auto; 
        position: fixed;
        left: 70%;
        top: 30%;
        scroll-behavior: smooth;
       }

       
    .input-container{
        
        background-color: rgb(245, 245, 241);
        z-index: 1000;
        position: fixed;
        width: 29%;
        bottom: 1%;
       }

       .message{
        margin-bottom: 20px;
        
       }
       
       
    .button-chat{
    position: fixed;
    top: 2%;
    left: 50%;
    z-index: 9999}
  }
    /* Réduisez la marge de gauche et augmentez la marge de droite pour décaler vers la droite */


    @media screen and (min-width:1800px) {
      .chat-wrapper{
        position: fixed; /* Fixe l'élément à la position spécifiée */
        bottom: 0; /* Le positionne en bas de la page */
        right: 0; /* Le positionne sur le côté droit de la page */
        margin-bottom: 10px; /* Ajoute un espace de 20px depuis le bas de la page */
        margin-right: 150px; /* Ajoute un espace de 20px depuis le côté droit de la page */
        z-index: 9999;
      }
        /* Augmentez la marge de gauche et réduisez la marge de droite pour décaler vers la droite */
      .chat-window{
            height: 69%;
            width: 30%;
            overflow-y: auto; 
            position: fixed;
            left: 70%;
            top: 30%;
            scroll-behavior: smooth;
           }
    
           
        .input-container{
            
            background-color: rgb(245, 245, 241);
            z-index: 1000;
            position: fixed;
            width: 29%;
            bottom: 1%;
           }
    
           .message{
            margin-bottom: 20px;
           }.button-chat{
        position: fixed;
        top: 30%;
        left: 50%;
        z-index: 1000}
      }
        /* Réduisez la marge de gauche et augmentez la marge de droite pour décaler vers la droite */
    