.message-user {
    /* Styles pour les messages de l'utilisateur actuel */
    /* Par exemple, aligner à gauche */
    text-align: left;
    margin-left: 20px;
  }
  
  .message-other {
    /* Styles pour les messages des autres utilisateurs */
    /* Par exemple, aligner à droite */
    text-align: right;
    margin-right: 20px;
  }
  

  


   

  

@media screen and (max-width:1800px) {
    /* Augmentez la marge de gauche et réduisez la marge de droite pour décaler vers la droite */
  
  .chat-window{
        height: 69%;
        width: 30%;
        overflow-y: auto; 
        position: fixed;
        left: 70%;
        top: 30%;
       }

       
    .input-container{
        
        background-color: rgb(245, 245, 241);
        z-index: 1000;
        position: fixed;
        width: 29%;
        bottom: 1%;
       }

       .message{
        margin-bottom: 20px;
        
       }
       
       
    .button-chat{
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 1000}
  }
    /* Réduisez la marge de gauche et augmentez la marge de droite pour décaler vers la droite */


    @media screen and (min-width:1800px) {
        /* Augmentez la marge de gauche et réduisez la marge de droite pour décaler vers la droite */
      .chat-window{
            height: 69%;
            width: 30%;
            overflow-y: auto; 
            position: fixed;
            left: 70%;
            top: 30%;
           }
    
           
        .input-container{
            
            background-color: rgb(245, 245, 241);
            z-index: 1000;
            position: fixed;
            width: 29%;
            bottom: 1%;
           }
    
           .message{
            margin-bottom: 20px;
           }.button-chat{
        position: fixed;
        top: 30%;
        left: 50%;
        z-index: 1000}
      }
        /* Réduisez la marge de gauche et augmentez la marge de droite pour décaler vers la droite */
    