#button-add{
   margin-bottom: 800px;
   color: blue;
   
}

.grid-item {
   margin-bottom: 40px;
   margin-right: 20px;
   padding-left: 100px;
 }
 
 
 
 
 .project-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Répartit les projets en colonnes équilibrées */
   gap: 10px; /* Espace entre les projets */
 }
 
 .project-item {
   width: 100%;
   padding: 20px;
   box-sizing: border-box;
   border: 1px solid #ccc; /* Ajoutez une bordure autour de chaque projet si nécessaire */
   border-radius: 3px; /* Facultatif : arrondir les coins des projets */
 }

 
 @media screen and (max-width:1800px) {
  /* Augmentez la marge de gauche et réduisez la marge de droite pour décaler vers la droite */
  #ProjectContainer {
    /* Ajustez la valeur de votre décalage vers la gauche */
    margin-bottom: 100px;
    margin-right: 90px; /* Ajustez la valeur de votre décalage vers la droite */
  }
 
}